{% extends 'base.html' %}
{% load static %}
{%block title%} Create Post{%endblock%}
{%block head%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>   
    <link rel="stylesheet" href="{% static 'styles/create.css' %}">
{%endblock%}
{% block content %}
<div class="container">
    <div class="form-container mt-5">
        <h1>Create a Post</h1>

        <!-- Display a warning if there are too many tags -->
        {% if messages %}
        <div class="alert alert-dismissible alert-danger">
            {% for message in messages %}
                {{ message }}.<br>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="heading" class="col-form-label" >Title</label> 
                <input type="text" class="form-control" id="heading" name="heading" value="{{ heading|default:'' }}" placeholder="This will be displayed as the team name and post title.">
            </div>

            <div class="form-group">
                <label for="content" class="col-form-label" >Description</label>
                <textarea class="form-control" id="content" name="content" rows="5" >{{ content|default:'' }}</textarea>
            </div>

            <div class="form-group">
                <label for="tag">Tags</label>
                <input name='tags' class='tag_input' placeholder='write some tags' value=''>
            </div>
            <a class="btn btn-warning" type="button" href="{% url 'recruitment'%}" style="margin-right:10px;">Cancel</a>
            <button type="submit" class="btn btn-secondary">Next</button>
        </form>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    var input = document.querySelector('input[name="tags"]');
    var whitelist = {{tag_list|safe}};

    var tagify = new Tagify(input, {
        originalInputValueFormat: valuesArr => valuesArr.map(item => item.value).join(','),
        whitelist:whitelist,
        maxTags: 10,
        dropdown: {
            maxItems: 20,          
            classname: "tags-look", 
            enabled: 0,            
            closeOnSelect: false   
        }
    })
</script>
{% endblock %}