{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
    <title>Homepage</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="text-section">
            <h1>TEAMFINDER</h1>
            <h2>Thammasat University</h2>
            <p>You can form a team with other people from Thammasat University to make project or compete in competition by using Team Finder</p>
            <a href="/myaccount" class="button">Go to website</a>
        </div>
    </div>
</body>
</html>