{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'styles/homepage.css' %}">
    <title>Homepage</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="text-section">
            <h1>Team Finder</h1>
            <h2>Thammasat University</h2>
            <p>You can form a team with other people from Thammasat University to make project or compete in competition by using Team Finder</p>
            <a href="/myaccount" class="button" style="text-decoration:none; color:white; font-size: 16px; font-weight: bold;">Go to website</a>
        </div>
    </div>
    <div class="user-container">
        <div class="text-section">
            <h2 style="color:white;">Current Users</h2>
            <h3>{{current_user}} Users</h3>
        </div>
    </div>
    <div class="image-section">
        
    </div>
</body>
</html>