{% extends 'base.html' %}
{% load static %}
{% block title %}Myaccount{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/myaccount.css' %}">
<style>
</style>
<div class="profile-container">
    <div class="profile-box">
        {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-pic">
        {% else %}
            <img src="/media/images/fallback.png" alt="Default Profile Picture" class="profile-pic">
        {% endif %}
        <h2>{{ userdata.name|title }}'s Profile</h2>
        <p><strong>Faculty: </strong>{{userdata.faculty}}</p>
        <p><strong>Major: </strong>{{userdata.major}}</p>

        <div class="container">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">Edit Profile</button>
            <a href="{% url 'mystats' %}" class="btn btn-primary">My Stats</a>
        </div>
    </div>
</div>

<div class="modal" id="Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_profile_image" class="btn btn-primary">Upload Image</label>
                <p>Image size must not exceed 1000 KB</p>
                {{ form.profile_image }}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
        </form>
      </div>
    </div>
</div>

{% if created_post %}
<ul>
    {% for crp in created_post %}
        <li>
          <a href="">edit</a>
            <h2>{{ crp.post.heading }}</h2>
            <p>{{ crp.post.content }}</p>
            <small>Created on: {{ crp.post.timestamp }}</small>
        </li>
    {% endfor %}
</ul>
{% else %}
<p>You haven't created any posts yet.</p>
{% endif %}

{% endblock %}