{% extends 'base.html' %}
{% block content %}

<div class="profile">
    <h2>{{userdata.name}}'s Profile</h2>
    {% if user.profile.profile_image %}
        <img src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}'s Profile Picture" style="width: 150px; height: 150px;">
    {% else %}
        <img src="/media/images/fallback.png" alt="Default Profile Picture" style="width: 150px; height: 150px;">
    {% endif %}
    <h2>{{userdata.faculty}}</h2>
    <h2>{{userdata.major}}</h2>

</div>

<h2>Upload Profile Picture</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Upload</button>
</form>

{% endblock %}