{% extends 'base.html' %}
{% load static %}
{% block head%}
    <link rel="stylesheet" href="{% static 'styles/mystats.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{%endblock%}

{% block content %}
    <div class="chart">
        <canvas id="radarChart"></canvas>
    </div>

    <div style="margin: 16px 20px;">
        <h2>Feedback Received:</h2>
    </div>

    <div class="feedback-grid">
        {% for fb in feedback %}
          <div class="feedback-card">
            <h3>From Post: {{ fb.team.recruit_post.heading }}</h3>
            <ul>
              <li><i class="fa fa-comments"></i> <strong>Communication:</strong> {{ fb.communication_pt }}</li>
              <li><i class="fa fa-users"></i> <strong>Collaboration:</strong> {{ fb.collaboration_pt }}</li>
              <li><i class="fa fa-check-circle"></i> <strong>Reliability:</strong> {{ fb.reliability_pt }}</li>
              <li><i class="fa fa-laptop-code"></i> <strong>Technical Skills:</strong> {{ fb.technical_pt }}</li>
              <li><i class="fa fa-heart"></i> <strong>Empathy:</strong> {{ fb.empathy_pt }}</li>
              <li><strong>Comment:</strong> "{{ fb.comment }}"</li>
            </ul>
          </div>
        {% empty %}
          <p>No feedback yet.</p>
        {% endfor %}
      </div>
    </div>

    <script>
        const ctx = document.getElementById('radarChart').getContext('2d');
        const radarChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: {{ labels|safe }},
                datasets: [
                    {
                        label: 'Average feedback point',
                        data: {{ dataset1|safe }},
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                    },
                ],
            },
            options: {
                scales: {
                    r: {
                        angleLines: { display: true },
                        suggestedMin: 0,
                        suggestedMax: 5,
                    },
                },
            },
        });
    </script>
{% endblock %}