{% extends 'base.html' %}
{% load static %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/myaccount.css' %}">
<div class="profile-container">
    <div class="profile-box">
        {% if user.profile.profile_image %}
            <img src="{{ user.profile.profile_image.url }}" alt="{{ user.username }}'s Profile Picture" class="profile-pic">
        {% else %}
            <img src="/media/images/fallback.png" alt="Default Profile Picture" class="profile-pic">
        {% endif %}
        <h2>{{ user.name|title }}'s Profile</h2>
        <p><strong>Faculty:</strong> {{ user.faculty }}</p>
        <p><strong>Major:</strong> {{ user.major }}</p>
        <p><strong>Year:</strong> {{ user.year }}</p>
    </div>
</div>
{% endblock %}