{% extends 'base.html' %}
{% load static %}
{% block title %}Recruitment{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/recruit.css' %}">
    <section id = "blog">
        <!--container-->
        <div class="blog-box-container">
            {% for post in posts %}
            <!--box1-->     
            <div class="blog-box">
                <!--text-->
                <div class="blog-box-text">
                    <a href="#"> {{post.heading}} </a>
                    <p> {{post.content}} <br></p>
                    <!--author-->
                    <div class="blog-author">
                        <div class="blog-author-text">
                            <strong> {{post.user}}</strong>
                            <span> {{post.timestamp}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <div class="button" >
        <a href="{% url 'create' %}" class="btn btn-warning" style="color:black;">Create Post</a>
    </div>
{% endblock %}


 
