{% extends 'base.html' %}
{% load static %}
{% block title %}Team{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/team.css' %}">
<div class="teams-container">
    <h1>Active</h1>
    <div class="team-box-container">
        <div class="team-box">
            <a href="#"> Work abc </a>
        </div>
        <div class="team-box">
            <a href="#"> Work abc </a>
        </div>
        <div class="team-box">
            <a href="#"> Work abc </a>
        </div>
        <div class="team-box">
            <a href="#"> Work abc </a>
        </div>
    </div>
</div>

<div class="teams-container">
    <h1>Finished</h1>
    <div class="team-box-container">
        <div class="team-box">
            <a href="#"> Work xyz </a>
        </div>
        <div class="team-box">
            <a href="#"> Work xyz </a>
        </div>
        <div class="team-box">
            <a href="#"> Work xyz </a>
        </div>
    </div>
</div>
{% endblock %}