{% extends 'base.html' %}
{%load static%}
{% block head%} 
<link rel="stylesheet" href="{% static 'styles/team.css' %}">
{%endblock%}
{% block content %}
<div class="modal" id="Modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Do you want to Post Result?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <div class="modal-body">
            <a href="{% url 'finish' team_id "yes"%}"><button type="button" class="btn btn-primary">Yes</button></a>
            <a href="{% url 'finish' team_id "no"%}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button></a>
        </div>
        </form>
      </div>
    </div>
</div>

<div class="card-wrapper">
    <div class="text">
        <div class="name">Test</div>
        <div class="message">Sawaddee Krub</div>
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-light">Later</button>
        <button class="btn btn-secondary">Accept</button>
    </div>
</div>



<div class="number"><p>1</p></div>
<div class=container>
    <div class="card bg-light mb-3" style="margin:200px; padding:1rem;">
        <h2>Team Details</h2>
        <div class="card-body">
            <!-- Team Information -->
                <div class="team-info">
                    <p style="display: inline-block;;"><strong>Post Status:</strong> {% if is_finish %}Finished{% else %}Active{% endif %}</p>
                    <span><a href="{% url 'post' team.recruit_post.post_id%}">Go to Post</a></span>
                </div>

            <!-- Team Members List -->
            <div class="team-members">
                <h3>Team Members</h3>
                <ul>
                    {% for member in members %}
                        <li>{{ member.username }}</li>
                    {% empty %}
                        <p>No members found.</p>
                    {% endfor %}
                </ul>
            </div>
        
        <!-- Finished Team Section -->
        {% if is_finish %}
            <div class="finished-team">
                <h3>This Team's Recruitment Post is Finished</h3>
                <p>No further actions can be taken on this team.</p>
            </div>

        {%else%}
            {%if is_owner%}
            <div style="bottom: 10%; right: 10%; position:fixed;"> <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
                Finish
            </button></div>
            {% endif %}
        {% endif %}
    </div>
</div>
{%block javascript%}
{%endblock%}
{% endblock %}