.body {
    background: #03045e;
}

.container {
    background: #ade8f4;
    color: #000000;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    transform: translateY(-20px);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(0);
}

h1 {
    font-size: 3em;
    color: #03045e;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

p {
    font-size: 1.3em;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 300;
}

/* Team Section */
.teammate {
    margin-top: 40px;
}

.teammate h3 {
    font-size: 1.8em;
    color: #03045e;
    margin-bottom: 15px;
}

.teammate ul li {
    font-size: 1.2em;
    margin-bottom: 12px;
    color: #000000;
    transition: color 0.3s ease;
}

.teammate ul li:hover {
    color: #000000;
    cursor: pointer;
}

/* Project*/
.project {
    margin-top: 40px;
}

.project h3 {
    font-size: 1.8em;
    color: #03045e;
    margin-bottom: 15px;
}

.project-links li {
    margin: 15px 0;
}

.project-links a {
    color: #023e8a;
    font-size: 1.2em;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

.project-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.project-links a:hover {
    color: #ffffff;
}

.project-links a:hover::after {
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 20px;
    }

    h1 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.1em;
    }

    .teammate ul li {
        font-size: 1em;
    }

    .project-links a {
        font-size: 1.1em;
    }
}
