body {
    background-color: #b3ecf1;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 10px 20px;
    text-align: left;
}

.sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.sidebar li a:hover {
    background-color: #575757;
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
}