.container{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.form-container{
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    color:black;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    color: white;
}

input, textarea {
    width: 100%;
    padding: 10px;
    background-color: #2e2e2e;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: white;
}

.button {
    background-color: #ffd13f;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button:hover {
    background-color: #d8b235;
}
.error {
    color: red;
    font-size: 0.9em;
}

.tagify{    
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    --placeholder-color: rgba(0, 0, 0, 0.5);
    background-color: white;
    --placeholder-color-focus: rgba(255, 255, 255, 0.5);
}

input::placeholder{
    color: black;
    opacity: 0.5; 
}

.tags-look .tagify__dropdown__item{
    display: inline-block;
    border-radius: 3px;
    padding: .3em .5em;
    border: 1px solid #CCC;
    background: #F3F3F3;
    margin: .2em;
    font-size: .85em;
    color: black;
    transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
color: black;
}

.tags-look .tagify__dropdown__item:hover{
    background: lightyellow;
    border-color: gold;
}

.form-group-year{
    display: inline;
}

.tagify__tag {
    --tag-border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center; /* Optional: horizontally center the text */
    line-height: normal; /* Prevents unexpected vertical spacing */
    height: 100%; /* Ensures tag height consistency */
}

.tagify__tag-text {
    margin: 0; /* Remove any default margin */
    text-align: center; /* Optional for multi-line text alignment */
    display: inline-block; /* Ensures proper behavior within flexbox */
}